{% extends "listApp/layout.html" %}

{%load static%}

{% block content %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color:#851a32;">

    <a class="navbar-brand" href="/"><img src="{% static 'WebImages/logo.png' %}" width="200" height="40"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-inner" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="/process">The Process</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/aboutSicily">Sicily</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/properties">Properties</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>
    </div>
  </nav>


<div class="container" style="margin-top:65px;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading">Sicily</h1>
            <br>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 border-right border-left">
            <div class="col-md-12 text-center">
                <h3 class="section-heading">Attractions and Pics</h3>
                <p class="text-muted">The pretty fortified town of Caccamo is located on the northern coast of the
                    island of Sicily, just south of Termini Imerese. close to the A19 motorway and then accessed by the
                    SS285 state road.
                    If driving or trying to locate, follow the A19 & A20 Catania motorway from Palermo airport toward
                    Messina/Catania.
                    • Passing close to Palermo
                    • Passing close to Bagheria
                    • Passing close to Casteldaccia and then come off at Termini Imeresi slip road.
                    • Head then toward Roccapalumba and Caccamo on the SS285 state road.
                </p>
            </div>
            <!--  <div class="container">-->
                    <hr>
            <h3>Advantages Of Sicily</h3>
            <br>
            
            <div class="row">
                <div class="col-md-4 ">
                    <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#location" role="tab"
                                aria-controls="home" aria-selected="true">Location of the Town, Lake & Beaches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#aboutCacamo" role="tab"
                                aria-controls="profile" aria-selected="false">About the town of Caccamo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#localBeaches" role="tab"
                                aria-controls="contact" aria-selected="false">Local Beaches & nearby resorts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#shortStay" role="tab"
                                aria-controls="home" aria-selected="true">Short-stay rental accommodation </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#cacamoBars" role="tab"
                                aria-controls="profile" aria-selected="false">Caccamo's Bars & Restaurants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#transferAir" role="tab"
                                aria-controls="contact" aria-selected="false">Transfers from & to Airport</a>
                        </li>
                    </ul>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-8">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="location" role="tabpanel" aria-labelledby="home-tab">
                            <h2>Location - The town of Caccamo</h2>
                            <p>
                                Drive time from Palermo airport: 45 minutes
                                Drive time to nearest beach: 10 minutes
                                Drive time from the resort of Cefalu: 20 minutes
                                
                                
                                
                                
                                The pretty fortified town of Caccamo is located on the northern coast of the island of Sicily, just south of Termini Imerese. close to the A19 motorway and then accessed by the SS285 state road.
                                
                                If driving or trying to locate, follow the A19 & A20 Catania motorway from Palermo airport toward Messina/Catania. 
                                
                                Passing close to Palermo
                                Passing close to Bagheria
                                Passing close to Casteldaccia and then come off at Termini Imeresi slip road.
                                Head then toward Roccapalumba and Caccamo on the SS285 state road.</p>
                        </div>
                        <div class="tab-pane fade" id="aboutCacamo" role="tabpanel" aria-labelledby="profile-tab">
                            <h2>The Town of Caccamo</h2>
                            <p>	Caccamo is located at 521 meters above sea level, it has a population of 8000 inhabitants.It's 20 km from major beach zone (Cefalu and Campofelice di Roccella), 45 km from Palermo, 75 km from Palermo airport, and only 9 km from Termini Imerese. Mount Etna is easily accessed also by the motorway and at the foot of that, the tourist town of Taormina.
                                Caccamo is a peaceful,friendly and trouble-free little town that warmly welcomes visitors, whatever race and colour they might be.A remarkable town where living together is not only preached but practiced, a place where all enjoy life together - be it sitting and enjoying a drink in the piazza on a warm summer's evening or out in the countryside simply viewingthe stupendous sunset. A town with folkoristic and gastronomic traditions to cherish.
                                Located below the town of Caccamo is Lago Rosamarina. This lake is the largest artificial lake in Sicily, below its beautiful blue waters still stands “Ponte San Leonardo”, an old historic bridge.This outstanding lake offers windsurfing, sailing and water sking. A sport center is adjacent to the lake, which provides many relaxing sports such as boating, horse riding,fishing and various trekking activities.
                                Caccamo itself is ancient and historic with a growing population, a typical Sicilian town in the way the people welcome all and life is so laid-back that stress is a word unknown. A warren of narrow cobbled streets offer adventures untold to those that explore. The castle? That really has to be visited - truly a sight to behold.
                                Churches around in Caccamo, 33 in all and each a unique gem to be discovered. Perhaps a quiet drink in the piazza is more your style or an evening stroll in the cliff-side park, whatever your liking in terms of relaxation, Caccamo has something to offer everyone. All modern amenities are within the town, schools, casualty department, doctors, chemists and shops of all types to cater for everyday needs and individual requirements.
                                Sicily Property Management Brokers also runs restoration projects, a countryside property can be transformed into a private villa, with optionsof swimming pools, stone terraces, verandahs and much more. Selected range of properties built in the old andtraditional style.
                                Our vast experience and contacts allowsus to help and guide prospective buyers with technical and legal support. We assist them to obtain their dreamhome in the sunshine, making the dream a reality. We invite you all to join the growing group of satisfied clientsthat we prefer to refer to as "friends".
                                Being it solicitors, tradesmen,council officials or anybody else, we are here to help and doing so willingly. Assisting with property searches,restorations, connecting services, estimates, anything else that you could require for your property.</p>
                        </div>
                        <div class="tab-pane fade" id="localBeaches" role="tabpanel" aria-labelledby="contact-tab">
                            <h2>Local Beaches and Lake</h2>
                            <p>The nearest beach is 10 mins drive from town and Cefalu at 20 mins </p>

                        </div>
                        <div class="tab-pane fade" id="shortStay" role="tabpanel" aria-labelledby="home-tab">
                            <h2>Short-stay accommodation</h2>
                            <p>
                                To book either of the above villas phone: Frank or Franca : (0039) 3382076371 / 3385267114
                                
                                Please note: Sicily Property Management Brokers acts as booking agents only for the above accommodation and bears no responsibility whatsoever as to standard, services, facilities or damages arising from stays at these villas. Your confirmation booking is acceptance of our no responsibility clause.
                                
                                Villa Santa Lucia - Best for children (25 Euros per person per night)
                                Short-stay accommodation
                                A fine villa divided into 3 separate villas and set in large grounds just 4 kilometers from the town of Caccamo. Operated privately but under the scheme and supervision of by the Sicilian Tourist Board
                                
                                Short-stay accommodation
                                Full kitchen with fridge, cooker and all cutlery, crockery and cooking utensils for the self-catering needs of visitors. Each of the 3 villettas may be rented separately by singles, couples or groups and on a nightly or weekly basis.
                                
                                Short-stay accommodation
                                Bedrooms: up to 12 people may stay in the Villa Santa Lucia, 3 couples each with their own kitchens, bathrooms and lounges. Grounds are communal.
                                
                                Casa San Francesco or Casa San Marco- Suitable for singles or couples (25 Euros per person per night)
                                Short-stay accommodation
                                2 fine town houses located in the historical heart of the town of Caccamo. Operated privately but under the scheme and supervision of by the Sicilian Tourist Boarde
                                
                                Short-stay accommodation
                                Full kitchen with fridge, cooker and all cutlery, crockery and cooking utensils for the self-catering needs of visitors. Each of the 2 town houses may be rented separately by singles, couples or groups and on a nightly or weekly basis.
                                
                                Short-stay accommodation
                                Up to five persons can stay at casa San Marco and 2 at casa San Francesco. They both have all modern conveniences, Aircon units, fully fitted kitchens, lounges and bathrooms with showers./p>
                        </div>
                        <div class="tab-pane fade" id="cacamoBars" role="tabpanel" aria-labelledby="profile-tab">
                            <h2>Caccamo's Bars and Restaurants</h2>
                            <p>To book either of the above villas phone: Frank or Franca : (0039) 3382076371 / 3385267114

                                Bars and Restaurants
                                Restaurant La Baronia
                                
                                Bars and Restaurants
                                Restaurant La Baronia
                                
                                Bars and Restaurants
                                Restaurant La Castellana
                                
                                Bars and Restaurants
                                Restaurant La Castellana
                                
                                Bars and Restaurants
                                Restaurant La Spica D'oro
                                
                                Bars and Restaurants
                                Restaurant La Spica D'o
                                
                                Bars and Restaurants
                                Restaurant La Collinetta
                                
                                Bars and Restaurants
                                Restaurant La Collinetta
                                
                                Bars and Restaurants
                                Restaurant A Ficurinnia
                                
                                Bars and Restaurants
                                Restaurant A Ficurinnia
                                
                                Bars and Restaurants
                                Bar Euracea
                                
                                Bars and Restaurants
                                Bar Euracea
                                
                                Bars and Restaurants
                                Bar Flash Dance
                                
                                Bars and Restaurants
                                Bar Flash Dance
                                
                                Bars and Restaurants
                                Il Castello Bar
                                
                                Bars and Restaurants
                                Il Castello Bar
                                
                                Bars and Restaurants
                                Kitipigghi Bar
                                
                                Bars and Restaurants
                                Kitipigghi Bar
                                
                                Bars and Restaurants
                                Marlon Bar
                                
                                Bars and Restaurants
                                Marlon Bar
                                
                                Bars and Restaurants
                                Marlon Bar
                                
                                Bars and Restaurants
                                Vito's Bar
                                
                                Bars and Restaurants
                                Vito's Bar</p>
                        </div>
                        <div class="tab-pane fade" id="transferAir" role="tabpanel" aria-labelledby="contact-tab">
                            <h2>Flights and Airport transfers</h2>
                            <p>Flights and airport transfers
                                The nearest airport to the town Caccamo is Palermo (PMO) now renamed 'Falconi Borsellino' but previously named and still known as with many British travel agents, as 'Punta Raisi'. Travel drive time from airport to town - 45 minutes
                                
                                Flights for around 20 pounds
                                
                                The best prices for flights from the UK (Stanstead to Palermo) is via www.ryanair.com or (Gatwick to Palermo) is via www.easyjet.com or (Dublin to Trapani) is via www.ryanair.com Please note that to get free or one-penny flights with Ryanair, travellers need to book their flights more than 30 days ahead of departure date.
                                
                                We use only local taxis companies, ones known to us to be reputable, reliable and offer customer service but also that care for our clients and give 'that little bit extra' in terms of safe transportation and caring for individual passengers needs.
                                
                                Taxi prices airport to Caccamo are 75 Euros per trip from Palermo, 150 Euros from Trapani and 170 Euros from Catania (up to 4 passengers) five or more by quotation (Requires mini-bus for more than 4 passengers)
                                
                                To book taxi pick ups, phone Frank or Franca, at Sicily Property Management Brokers (0039) 3382076371 / 3385267114</p>

                        </div>
                    </div>
                </div>
                <!-- /.col-md-8 -->
            </div>



            <!--  </div>-->
            <!-- /.container -->


        </div>
        <div class="col-xl-6 border-left border-right">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Recent articles and headlines</h2>
                <p class="text-muted">Paragrah here.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}