{% extends "listApp/layout.html" %}

{%load static%}


{% block content %}


<div class="container" style="margin-top:65px;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading">About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 border-right">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Who We Are?</h2>
                <p class="text-muted">We understand that buying a property abroad can seem daunting , stressful and if
                    you don't have the right information or connections, it most certainly can be that and more. Our
                    long experience selling homes in Sicily though overcomes all and, more than you would imagine,
                    making it a painless and enjoyable process to obtain your dream home in the Mediterranean. To the
                    complete buying experience. From viewing properties, to dealing with solicitors, translations,
                    getting services such as water, gas and electricity connected, opening a bank account through to
                    council rates, registering for residency should you wish, arranging and dealing with tradesmen and
                    refurbishments, we can assist with all. We are not just estate agents, we are here to help and guide
                    you along the way, it is our pleasure to do so. We differ from other agents in that we tell you how
                    it is, no frills or sales talk, just plain and accurate information to allow you to make your
                    decision. If we can't do it or what you are wanting isn't possible/practical, we will tell you so,
                    it is only fair and right to do so and that is a policy we hold to, like it or not as you might. We
                    proudly boast that we don't have clients, we have friends, people that have purchased through us and
                    with whom we socialize and meet with regularly for chats and drinks, BBQ's and more. Not for us sell
                    and forget, we are here for you as friends as well as in our professional capacity.</p>
            </div>

            <div class="container">
                <h1>Title?</h1>
                <hr>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Experiences</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                    aria-controls="contact" aria-selected="false">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-8">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h2>Home</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed
                                    accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem
                                    blanditiis voluptates vel ipsam? Facilis, earum!</p>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h2>Profile</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed
                                    accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem
                                    blanditiis voluptates vel ipsam? Facilis, earum!</p>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <h2>Contact</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed
                                    accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem
                                    blanditiis voluptates vel ipsam? Facilis, earum!</p>

                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-8 -->
                </div>



            </div>
            <!-- /.container -->



        </div>
        <div class="col-6">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How to contact us?</h2>
                <p class="text-muted">Add Contact Form here.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}