{% extends "listApp/layout.html" %}

{%load static%}
{% block title %}
Home
{% endblock %}

{% block content %}
<!--<link href="{% static 'listApp/css/home.css' %}" rel="stylesheet">-->
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Sicily Property Management Brokers</h1>
          <p class="lead">Quality renovated homes</p>
        </div>
      </div>
    </div>
  </header>
  <section id="whoweare">
  <div  class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
          <h1 class="section-heading text-uppercase">Who we are? What we do?</h1>

       </div>
     </div>
     <div class="row">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Acquisition</h4>
            <p class="text-muted">Maybe a Description</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Renovation</h4>
              <p class="text-muted">There etworks</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Management</h4>
                <p class="text-muted">There is nothing more important than standing out in a group of businesses. Let Sol Digital Studios help you stand out. With our knowledge of web based algorithms we can make sure that we create a strategy that will help you stand out on Google, Facebook, Instagram and other major social networks</p>
              </div>
      </div>
    </section>



      
      </div>

{% endblock %}
