{% extends "listApp/layout.html" %}

{%load static%}
{% block title %}
Home
{% endblock %}

{% block content %}
<!--<link href="{% static 'listApp/css/home.css' %}" rel="stylesheet">-->
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Sicily Property Management Brokers</h1>
          <p class="lead">Quality renovated homes</p>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
