{% extends "listApp/layout.html" %}

{%load static%}
{% block title %}
Home
{% endblock %}

{% block content %}
<!--<link href="{% static 'listApp/css/home.css' %}" rel="stylesheet">-->
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Sicily Property Management Brokers</h1>
          <p class="lead">Quality renovated homes</p>
        </div>
      </div>
    </div>
  </header>


  <section id="whoweare">
  <div  class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
          <h1 class="section-heading">Who we are? What we do?</h1>
       </div>
     </div>
     <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-globe-europe fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Acquisition</h4>
            <p class="text-muted">Maybe a Description</p>
            <button type="button" class="btn btn-primary">More Details</button>

          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-globe-europe fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Renovation</h4>
              <p class="text-muted">There etworks</p>
              <button type="button" class="btn btn-primary">More Details</button>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-globe-europe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Management</h4>
                <p class="text-muted">There is nothing more important than standing out in a group of businesses. Let Sol Digital Studios help you stand out. With our knowledge of web based algorithms we can make sure that we create a strategy that will help you stand out on Google, Facebook, Instagram and other major social networks</p>
                <button type="button" class="btn btn-primary">More Details</button>
              </div>
      </div>
    </div>
    </section>    
 <section id="whereWeAre">
   <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
           <h1 class="section-heading text-uppercase">Where we are</h1>
        </div>
      </div>
      <div class="row justify-content-center">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
          &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
          &markers=color:red%7Clabel:C%7C40.718217,-73.998284
          &key=AIzaSyDQZNi6DdrZS36FjjujiL-zcC5elmyMork">
          <iframe  width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJs1lT0GhiEBMRUH22ZykECwE&key=AIzaSyDQZNi6DdrZS36FjjujiL-zcC5elmyMork" allowfullscreen></iframe>

        </div>
    </div>

 </section>

{% endblock %}
