<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>{% block title %}{% endblock %}</title>
  {% load crispy_forms_tags %}    
  {%load bootstrap4%}

  {% load static %}
  

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="{% static 'listApp/lightbox/lightbox-plus-jquery.js' %}"></script>
  <link href="{% static 'listApp/lightbox/lightbox.css' %}" rel="stylesheet">
  <link href="{% static 'css/modal.css' %}" rel="stylesheet">
  <link href="{% static 'css/layout.css' %}" rel="stylesheet">
  <link href="{% static 'css/tabs.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body class="layoutBody">
  <!--
    <div class="navbar">
    <a href="{% url 'home' %}" class="navbar-brand">Home</a>
    <a href="{% url 'about' %}" class="navbar-item">About</a>
    <a href="{% url 'contact' %}" class="navbar-item">Contact</a>
</div>
-->
 



  <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action='/contactPopup/' method="POST" >
          {% csrf_token %}
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          
        <!--
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="form34"><strong>Your name:</strong></label>
          <i class="fas fa-user prefix grey-text"></i>
         <input type="text" id="form34" class="form-control validate">
          
        </div>
      --> 
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="form29"><strong>Your email:</strong></label>
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="id_from_email" class="form-control validate">
          <input name="{{ form.ContactForm.email }}" type="text" placeholder="Name field">
        </div>

        <div class="md-form mb-5">

          <label data-error="wrong" data-success="right" for="form32"><strong>Subject:</strong></label>
          <i class="fas fa-tag prefix grey-text"></i>s
          <input type="text" id="id_subject" class="form-control validate">
          <input name="{{ form.ContactForm.subject }}" type="text" placeholder="Name field">
        </div>

        <div class="md-form">
          <label data-error="wrong" data-success="right" for="form8"><strong>Your Message:</strong></label>
          <i class="fas fa-pencil prefix grey-text"></i>

          <textarea type="text" id="id_message" class="md-textarea form-control" rows="4"></textarea>
          <textarea name="{{ form.ContactForm.message }}" type="text" placeholder="Name field"></textarea>
        </div>

      </div>
      <div class="modal-footer justify-content-center">
          <div class="form-actions">
        <button type="submit" class="btn btn-primary">Send </button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>


  {% block content %}




  

 


  {% endblock %}
  <!--<a   class="cButton btn btn-primary" data-toggle="modal" data-target="#modalContactForm">Contact Us</a>-->
  <i class="cButton fas fa-paper-plane fa-3x" data-toggle="modal" data-target="#modalContactForm"></i>
 




 
  <hr />
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Sicily Property Brokers</h5>
          <p>Search Home, Land & Houses for sale in Sicily.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Useful Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Home</a>
            </li>
            <li>
              <a href="#!">Gallery</a>
            </li>
            <li>
              <a href="#!">The Process</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">&nbsp</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">About Sicily</a>
            </li>
            <li>
              <a href="#!">Properties</a>
            </li>
            <li>
              <a href="#!">About Us</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="http://www.sicilypropertybrokers.com/"> Sicily Propery Brokers</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->


</body>






</html>