{% extends "listApp/layout.html" %}

{%load static%}

{% block content %}
<div class="container" style="margin-top:65px;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading">The Process</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 border-right">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Acquistion</h2>
                <p class="text-muted">Buying a property abroad and from an organization and people you don't know is a
                    huge step in anyone's life, we understand this. Our vast experience and contacts allow us to help
                    and guide prospective buyers with technical and legal support. We assist them to obtain their dream
                    home in the sunshine, making the dream a reality. We invite you all to join the growing group of
                    satisfied clients that we prefer to refer to as "friends".</p>
            </div>
            <hr>
            <h1>Advantages</h1>
            <br>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Advantage 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Advantage 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                aria-controls="contact" aria-selected="false">Advantage 3</a>
                        </li>
                    </ul>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-8">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h2>Advantage 1</h2>
                            <p> Content 1</p>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h2>Advantage 2</h2>
                            <p> Content 2</p>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <h2>Advantage 3</h2>
                            <p> Content 3</p>

                        </div>
                    </div>
                </div>
                <!-- /.col-md-8 -->
            </div>



            <div class="col-lg-12 text-center border-top">
                <h2 class="section-heading">Property Management</h2>
                <p class="text-muted">BNaturally many hesitations arise in your minds and we hope to help lay those
                    fears. We are here to help you, to assist you ethically and professionally in any way we can to
                    guide you to obtaining your dream home in the Mediterranean. The best way, we feel, is for you to
                    come and visit, to meet us and to allow us the opportunity of demonstrating to you that we are who
                    we say we are, that we do what we say and, to avail you of all the information you need to arrive at
                    a decision - free of pressure and obligation.</p>
            </div>
        </div>
        <div class="col-6">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Renovation</h2>
                <p class="text-muted">Sicily Property Management Brokers are proud to inform our clients that we can
                    manage infinite types of refurbs required for your property. Sicily Property Management Brokers runs
                    restoration projects, a countryside property can be transformed into a private villa, with options
                    of swimming pools, stone terraces, verandahs and much more. Selected range of properties built in
                    the old and traditional style.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}