{% extends "listApp/layout.html" %}

{%load static%}

{% block content %}




<nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color:#851a32;">

    <a class="navbar-brand" href="/"><img src="{% static 'WebImages/logo.png' %}" width="200" height="40"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-inner" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link" href="/process">The Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutSicily">Sicily</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/properties">Properties</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container" style="margin-top:75px;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading">The Process</h1>
        </div>
    </div>
    <div class="row justify-content-center">
            
            <hr>
            <h1>Advantages</h1>
            <br>
            <div class="row">
                <div class="col-md-4 mb-3 sm-4">
                    <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">How the purchasing system works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Legal aspects, fees and taxes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                aria-controls="contact" aria-selected="false">Viewing trip holidays</a>
                        </li>
                    </ul>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-8 mb-3">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h2>Step-by-step house purchase</h2>
                            <p> Step-by-step house purchase
                                Book your flight - let us know your arrival dates and book accomodation and taxi pickups to match flights
                                View properties and confirm with our representive the house of your choice
                                Along with our representative, visit the solicitor and sign the first half contact putting down min 50% of the purchase price of the property. From that moment you have legal and full access to the property
                                Arrange when you will return to pay the balance (Usually no more than 3 months)
                                With Sicily Property Brokers, have a drink together (on us) in the piazza to celebrate purchasing your new home in Sicily
                                House purchase in Italy is far speedier and easier than in the UK. In most cases all can be completed within a week and in some cases all in one day. Best though to allow more time and return trips for completions. The legal system works like this:
                                
                                Once agreed on a price with the owner and deal done, both the owner and the purchaser visit the notary and sign a first-part contract. At this point you can put a minimum deposit of 10% without access or 50% of the purchase price should be laid as a deposit and a date agreed when by you will pay the balance, usually no more than 3 months. You then, from that moment, take possession of the keys and have full and legal access to the house to work on or live in as you wish. During this time and until the second-part contract signed and balance paid, if either party cannot complete or wish to pull out, they have to pay the injured party, the amount of the deposit laid. That is to say that, if the owner decides he doesn't any longer wish to sell, he has to pay you double the amount you put down at the first signing. Likewise though, should you be unable to complete, you will loose your deposit.
                                
                                Sicily Property Brokers may act for you at the first signing only and are not able to act for you in the second-part and final deeds signing, should you be unable to return to do the second-part and final deeds, it is possible for the Italian notary to raise in the solicitors name a 'power of attorney' to act for you. This will be sent to you to read in the presence of a UK solicitor and for you to sign it in his presence and return it to the Italian notary. This whole process can be done here in Sicily with your presence and free of charge.</p>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h2>Legal, Fees, and Taxes</h2>
                            <p> Our fees
                                Sicily Property Brokers service charges are payable by the purchaser. This includes all negotiations with owners, initial dealings with solicitor up to the final part contract signing, opening bank accounts and gaining for you an Italian National Insurance number (required to buy and to open bank account).
                                
                                Legal Fees
                                Legal fees are difficult to quote accurately as each case is different, several factors affect the calculation such as; location, size, age of property and government valuation of it. An approximate estimate can be obtained before hand, after calculations have been made by the notary on all searches for the transfer of the ownership so to insure that all is in order for you to proceed.
                                
                                Property Taxes
                                Property taxes are collected by the notary on behalf of the Italian government and this is a one off payment. As a rough guide, property taxes are normally around 4% of the property rateable value, if you have residency status or around 11% if non-resident.You may though opt to pay the lower residency rate and then have 18 months in which to apply for and gain residency. If residency is not obtained, you will have to pay back the difference of tax with interest and fines.</p>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <h2>Viewing Holidays</h2>
                            <p> 	Buying a property abroad and from an organisation and people you don't know is a huge step in anyone's life, we understand this. Naturally many hesitations arise in your minds and we hope to help lay those fears. We are here to help you, to assist you ethically and professionally in any way we can to guide you to obtaining your dream home in the Mediterranean. The best way, we feel, is for you to come and visit, to meet us and to allow us the opportunity of demonstating to you that we are who we say we are, that we do what we say and, to avail you of all the information you need to arrive at a decision - free of pressure and obligation.
	
                                What better way then than to spend a holiday here, one that will allow you to see for yourselves, to get to know the town, us, some of the local people and to explore the surroundings and the island a little. Combine looking at properties with a relaxing holiday - it makes perfect sense.
                                
                                Join us for a drink in the piazza, chat, ask us all the questions you wish and we will answer as best we can, with local knowledge, legal aspects, culture, sytems and whatever else you might like to know. We want you to be sure, to be happy with your new home and to join the growing band of satisfied customers that we now consider friends and not simply clients.
                                
                                    
                                We tell things as they are, if it isn't what you want to hear then we make no apology, we give the bad along with the good, we feel prospective buyers need all information in order to arrive at a decsion - it is only right and fair.
                                
                                We suggest, on viewing holidays, that a flexible itinarary is best, perhaps mornings looking at likely properties and afternoons and evenings free to explore and to relax. All though is flexible and we will fit-in with and arrange things around your preferences. Please never forget - we are here to help.
                                
                                    
                                Accommodation details may be found by clicking here
                                
                                Cheapest flights details may be found by clicking here
                                
                                Or to arrange all, phone and speak to Frank or Franca on (0039) 3382076371 / 3385267114</p>

                        </div>
                    </div>
                </div>
                <!-- /.col-md-8 -->
            </div>

            <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Acquistion</h2>
                    <p class="text-muted">Buying a property abroad and from an organization and people you don't know is a
                        huge step in anyone's life, we understand this. Our vast experience and contacts allow us to help
                        and guide prospective buyers with technical and legal support. We assist them to obtain their dream
                        home in the sunshine, making the dream a reality. We invite you all to join the growing group of
                        satisfied clients that we prefer to refer to as "friends".</p>
                </div>

            <div class="col-lg-12 text-center border-top">
                <h2 class="section-heading">Property Management</h2>
                <p class="text-muted">BNaturally many hesitations arise in your minds and we hope to help lay those
                    fears. We are here to help you, to assist you ethically and professionally in any way we can to
                    guide you to obtaining your dream home in the Mediterranean. The best way, we feel, is for you to
                    come and visit, to meet us and to allow us the opportunity of demonstrating to you that we are who
                    we say we are, that we do what we say and, to avail you of all the information you need to arrive at
                    a decision - free of pressure and obligation.</p>
            </div>
        
        <div class="col-6">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Renovation</h2>
                <p class="text-muted">Sicily Property Management Brokers are proud to inform our clients that we can
                    manage infinite types of refurbs required for your property. Sicily Property Management Brokers runs
                    restoration projects, a countryside property can be transformed into a private villa, with options
                    of swimming pools, stone terraces, verandahs and much more. Selected range of properties built in
                    the old and traditional style.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}