{% extends "listApp/layout.html" %}
{%load static%}

{% block content %}


<div class="container">
  <div class="row">
    {% for property in object_list %}
      <div class="shadow card" style="width:30rem;">
        {% for propertyImage in property.images.all %}
        {% if forloop.first %}
        <img class="card-img-top" src="{{ propertyImage.image.url }}" alt="Card image"
          style="height:300px;  display: inline-block;">
        {% endif %}
        {% endfor %}
        <div class="card-body">
          <h5 class="card-title">{{ property.title }}</h5>
          <p class="card-text"></p>
          <a id="propertyModalButton" data-toggle="modal" data-target="#m{{property.id}}" class="btn btn-primary">More
            Details</a>
        </div>
      </div>
    

    <div id="m{{property.id}}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="" class="modal-title">{{property.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="image-row">
              <div class="image-set">
                <h4>Property Images</h4>
                {% for propertyImage in property.images.all %}
                <a href="{{propertyImage.image.url}}" data-lightbox="{{property.title}}" style="max-height:1000; ">
                  <img src="{{propertyImage.image.url}}" class="img-fluid rounded"
                    style="height:70px; overflow: hidden;">
                </a>
                {% endfor %}
              </div>
            </div>
            <h4>Property Details</h4>
            <p>{{property.details}}</p>
            <h4>Property Main Details</h4>
            <p>{{property.mainDetails}}</p>
            <p>Reference: <b>{{property.reference}}</b></p>
            <p>Price: <b>{{property.price}}</b></p>
            <p>Type: <b>{{property.propertyType}}</b></p>
            <p>Status: <b>{{property.status}}</b></p>
            <p>Bedrooms: <b>{{property.bedrooms}}</b></p>
            <a href="{{property.propertyYoutube}}" target="_blank">See on Youtube</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}