{% extends "listApp/layout.html" %}
{%load static%}
{% load mathfilters %}
{% load widget_tweaks %}
{% block content %}

<div class="container clearfix">
  <div class="">
  <form method="GET" action=''>
      <div class="form-group col-md-4 justify-content-center">
          <div class="row">
          {% render_field filter.form.title class="form-control" placeholder="Search Properties" size="700" %}
          </div>
          
      </div>
  </form>
</div>
   
  
  <div class="row">
      {% for property in filter.qs %}
    <div class="col-md-6 col-sm">
      
      <a id="propertyModalButton" class="stretched-link clickable" data-toggle="modal" data-target="#m{{property.id}}">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">


          {% for propertyImage in property.images.all %}
          {% if forloop.first %}

          <img class="card-img-top" src="{{ propertyImage.image.url }}" alt="Card image"
            style="height:300px;  display: inline-block;">
          {% endif %}
          {% endfor %}
          <div class="card-body">
            <h5 class="card-title">{{ property.propertyStatus }}</h5>
            <h4 class="card-title"><b>{{ property.price }}</b></h4>
            <p>•{{ property.bedrooms }}bds • {{ property.bathrooms }}ba • {{ property.sqmt }}sqmt</p>
          </div>
        </div>
      </a>
      <div id="m{{property.id}}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">

              <h5 id="" class="modal-title">{{property.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body row">
              <div class="col-md-6">
                <div class="image-row">
                  <div class="image-set">
                    <h4>Property Images</h4>
                    {% for propertyImage in property.images.all %}
                    {% if forloop.first %}
                    <a href="{{propertyImage.image.url}}" data-lightbox="{{property.title}}" style="max-height:100%; ">
                        <img src="{{propertyImage.image.url}}" class="img-fluid rounded"
                          style="border: 5px; margin: 10px; height:270px; overflow: hidden;">
                      </a>

                    {% endif %}
                    <a href="{{propertyImage.image.url}}" data-lightbox="{{property.title}}" style="max-height:100%; ">
                      <img src="{{propertyImage.image.url}}" class="img-fluid rounded"
                        style="border: 5px; margin: 10px; height:120px; overflow: hidden;">
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h4>Property Details</h4>
                <p>{{property.details}}</p>
                <h4>Property Main Details</h4>
                <p>{{property.mainDetails}}</p>
                <p>Reference: <b>{{property.reference}}</b></p>
                <p>Price: <b>{{property.price}}</b></p>
                <p>Type: <b>{{property.propertyType}}</b></p>
                <p>Status: <b>{{property.status}}</b></p>
                <p>Bedrooms: <b>{{property.bedrooms}}</b></p>
                <a href="{{property.propertyYoutube}}" target="_blank">See on Youtube</a>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      

    </div>
    {% endfor %}
  </div>



</div>


{% endblock %}