{% extends "listApp/layout.html" %}
{%load static%}
{% block content %}


<h2>Properties</h2>

<div class="container">
  {% for property in object_list %}
  <div class="col-xs-1" >
    <div class="card bg-dark text-white" style="width: 28rem;">
      {% for propertyImage in property.images.all %}
      {% if forloop.first %}

      <!--<img class="card-img" src="{% static 'images/{{ propertyImage.image.name }}' %}" alt="Card image">-->
      <img class="card-img" src="{{ propertyImage.image.url }}" alt="Card image" style="height:100%">
      <!--<h2>{{ propertyImage.image.name }}</h2>-->
      {% endif %}
      <!--<h2>{{ propertyImage.image.name }}</h2>-->
      {% endfor %}
      <div class="card-img-overlay">
        <h5 class="card-title">{{ property.title }}</h5>
        <p class="card-text">{{ property.id }}</p>
        <p class="card-text"></p> 
        <a id="propertyModalButton" data-toggle="modal" data-target="#m{{property.id}}" class="btn btn-primary">More Details</a>
        
        </div>
    </div>
  </div>

  <div id="m{{property.id}}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="" class="modal-title">{{property.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            {% for propertyImage in property.images.all %}
            
            <img src="{{propertyImage.image.url}}" alt="Property Images" class="img-thumbnail">
            
            {% endfor %}
            
          <p>{{property.details}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>




















<script>
  /*
  $('#propertyModal').on('show.bs.modal', function (event) {
    var myVal = $(event.relatedTarget).data('id');
    var randVal = $(event.relatedTarget).data('rand');
    var picsVal = $(event.relatedTarget).data('pics');

    alert(myVal)
    alert(randVal);
    alert(picsVal);

    //$(this).find(".modal-body").text(myVal);
  });



  $(document).on("click", "propertyModal", function () {
       var myBookId = $(this).data('id');
      alert( myBookId );
       //$("#propertyModal").modal();
  });

    $(document).ready(function () {
      $("#propertyModalButton").click(function () {
        //alert("works");
        var propertyID = $(this).data('id');
        alert(propertyID);
        //$("#propertyModal").modal();
      });
    });
  */
</script>

{% endblock %}

