.masthead {
    height: 45vh;
    min-height: 3040px;
    background-image: url('/static/WebImages/home_banner1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.text-primary{
  color:#145a9b!important;
}


  