.first-column {
    width: 60%;
    float: left;
  }
  
  .second-column {
    width: 20%;
    float: right;
  }

  .cButton{
    position: fixed;
    right:    15px;
    bottom:   15px;
    z-index: 1000;
    cursor: pointer;
    color:#851a32;
  }
  .layoutBody {
    background-color:#edece3; 
  }

  .clickable {
    cursor: pointer;
  }
  a.property-modal-card-link,
  a.property-modal-card-link:hover{
    color:inherit;
  }


    
    
      .navbar-inner{
        background: transparent;
      }

